@model WebApplication.Models.Answer.AnswerViewModel

<div class="delete_answer__header">
    <h2>Delete answer</h2>
</div>

<div class="delete_answer">
    @Html.ActionLink("<< Go to answer details", "Details", "Answer", new { id = Model.Id }, new { @class = "btn btn-default" })

    <h2>Are you sure you want to delete this answer?</h2>
    
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.QuestionId)

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Text)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Right, new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Right)
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="form-actions no-color col-md-offset-2 col-md-10">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
