@model WebApplication.Models.Answer.AnswerViewModel
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Right)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Right)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Explanation)
        </dd>
    
    </dl>
</div>
<p>
    @Html.ActionLink("Edit answer", "Edit", "Answer", new { id = Model.Id }, null) |
    @Html.ActionLink("Delete answer", "Delete", "Answer", new { id = Model.Id }, null)
</p>

@Html.ActionLink("Go to question", "Details", "Question", new { id = Model.QuestionId }, null)