@model WebApplication.Models.Answer.AnswerViewModel

<div class="details_answer">

    @Html.ActionLink("<< Go to question details", "Details", "Question", new { id = Model.QuestionId }, new { @class = "btn btn-default" })
    <br /><br />

    @Html.HiddenFor(model => model.Id)

    <h1>
        @Html.DisplayFor(model => model.Right)
        @Html.DisplayFor(model => model.Text)
    </h1>

    <h3>
        ~ @Html.DisplayFor(model => model.Explanation)
    </h3>

    <p>
        @Html.ActionLink("Edit answer", "Edit", "Answer", new { id = Model.Id }, new { @class = "btn btn-default" }) 
        @Html.ActionLink("Delete answer", "Delete", "Answer", new { id = Model.Id }, new { @class = "btn btn-default" })
    </p>
</div>
