@model WebApplication.Models.Question.QuestionViewModel

<div class="create_quest__header">
    <h2>New question</h2>
</div>

<div class="create_quest">
    @Html.ActionLink("<< Go to test details", "Details", "Test", new { id = @ViewBag.TestId }, new { @class = "btn btn-default" })
    <br /><br />

    @using (Html.BeginForm("Create", "Question", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <input type="hidden" name="testId" value="@ViewBag.TestId">

            <div class="form-group">
                @Html.LabelFor(model => model.Text, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Img, new { @class = "col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="file" id="file" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create question" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>