@model WebApplication.Models.Question.QuestionViewModel

<div class="edit_quest__header">
    <h2>Edit question</h2>
</div>

<div class="edit_quest">
    @Html.ActionLink("<< Go to question details", "Details", "Question", new { id = Model.Id }, new { @class = "btn btn-default" })
    <br /><br />

    @*@using (Ajax.BeginForm("Edit", "Question",
        new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "question_"+@Model.Id, InsertionMode = InsertionMode.Replace },
        new { enctype = "multipart/form-data" }))*@

    @using (Html.BeginForm("Edit", "Question", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Img)
            @Html.HiddenFor(model => model.TestId)

            <div class="form-group">
                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Img, htmlAttributes: new { @class = "col-md-2" })
                <div class="col-md-10">
                    @if (Model.Img != null)
                    {
                        <img width="350" height="200" src="@Url.Action("GetImage", "Question", new { id = Model.Id })" />
                    }
                    <input type="file" name="file" id="file" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
