@model int

@for (int i = 0; i < Model; i++)
{
    <div class="one_test-container col-md-4 col-xm-12">
        <div class="one_test one_test-@i">

            <h2><a class = "one_test__name-@i"></a></h2>

            <p class="one_test__description-@i"></p>

            <div class="one_test__img">
                <img class="one_test__image-@i" />
            </div>

            @if (User.IsInRole("admin"))
            {
                @Html.ActionLink("Edit", "Edit", "Test", null, new { @class = "btn btn-default edit-" + i })
                @Html.ActionLink("Details", "Details", "Test", null, new { @class = "btn btn-default details-" + i })
                @Html.ActionLink("Delete", "Delete", "Test", null, new { @class = "btn btn-default delete-" + i })
            }
        </div>
    </div>
}


@*@model List<WebApplication.Models.Test.PreviewTestViewModel>

@for (int i = 0; i < Model.Count(); i++)
{
    <div class="one_test-container col-md-4 col-xm-12">
        <div class="one_test one_test-@i">
            <h2>
                @Html.ActionLink(Model[i].Name, "Preview", "Test", new { id = Model[i].Id }, new { @class = "one_test__name-" + i })
            </h2>
            <p>
            <p class="one_test__description-@i">
                @Model[i].Description
            </p>
            </p>
            <div class="one_test__img">
                @Html.Image(@Url.Action("GetImage", "Test", new { id = Model[i].Id }), classes: "image-" + i)
            </div>

            @if (User.IsInRole("admin"))
                {
                @Html.ActionLink("Edit", "Edit", "Test", new { id = Model[i].Id }, new { @class = "btn btn-default edit-" + i })
                @Html.ActionLink("Details", "Details", "Test", new { id = Model[i].Id }, new { @class = "btn btn-default details-" + i })
                @Html.ActionLink("Delete", "Delete", "Test", new { id = Model[i].Id }, new { @class = "btn btn-default delete-" + i })
            }
        </div>
    </div>
}*@


@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th width="400">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionQuantity)
        </th>
        @if (User.IsInRole("admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.IsReady)
            </th>
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Preview", "Test", new { id = item.Id }, null)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionQuantity)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsReady)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Test", new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Test", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Test", new { id = item.Id }, null)
                </td>
            }
        </tr>
    }
</table>*@
