@model IEnumerable<WebApplication.Models.Test.PreviewTestViewModel>

@foreach (var i in Model)
{
<div class="one_test-container col-lg-4 col-md-6 col-xm-12">
    <div class="one_test">
        <h2>
            @Html.ActionLink(i.Name, "Preview", "Test", new { id = i.Id }, null)
        </h2>
        <p>
            @Html.DisplayFor(model => i.Description)
        </p>
        <div class="one_test__img">
            @Html.Image(@Url.Action("GetImage", "Test", new { id = i.Id }))
        </div>

        @if (User.IsInRole("admin"))
        {
            if(i.IsReady)
            {
                <h4>>IS READY<</h4>
            }
            else
            {
                <h4>>IS NOT READY<</h4>
            }

            @Html.ActionLink("Edit", "Edit", "Test", new { id = i.Id }, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Details", "Details", "Test", new { id = i.Id }, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Delete", "Delete", "Test", new { id = i.Id }, new { @class = "btn btn-default" })
        }
    </div>
</div>
}


@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th width="400">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionQuantity)
        </th>
        @if (User.IsInRole("admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.IsReady)
            </th>
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Preview", "Test", new { id = item.Id }, null)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionQuantity)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsReady)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Test", new { id = item.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Test", new { id = item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Test", new { id = item.Id }, null)
                </td>
            }
        </tr>
    }
</table>*@
