@model IEnumerable<WebApplication.Models.Test.TestViewModel>

@{
    ViewBag.Title = "AllTestsCrud";
}

<h2>AllTestsCrud</h2>

<p>
    @Html.ActionLink("Create new test", "Create", "Test")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsReady)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsReady)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Test", new { id=item.Id }, null) |
            @Html.ActionLink("Details", "Details", "Test", new { id=item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "Test", new { id=item.Id }, null)
        </td>
    </tr>
}

</table>
