@model WebApplication.Models.Test.TestViewModel

<div class="details_test">
    <h1>
        @Html.DisplayFor(model => model.Name)
    </h1>
    <h3>
        @Html.DisplayFor(model => model.Description)
        <br />
        @Html.DisplayFor(model => model.MinPercentage)%
    </h3>

    <p>
        @Html.ActionLink("Edit test", "Edit", "Test", new { id = Model.Id }, new { @class="btn btn-default" }) 
        @Html.ActionLink("Delete test", "Delete", "Test", new { id = Model.Id }, new { @class = "btn btn-default" })
    </p>
    <hr />

    <div id="questions">
        @if (Model.Questions != null && Model.Questions?.Count != 0)
        {
            <h3>Questions:</h3>
            @Html.ActionLink("Create question", "Create", "Question", new { testId = Model.Id }, new { @class = "btn btn-default" })

            <div class="details_test__questions">
                @foreach (var item in @Model.Questions)
                {
                <div class="details_test__question col-md-6">
                    <div>
                        @if (item.Img != null)
                        {
                            <img width="350" height="200" src="@Url.Action("GetImage", "Question", new { id = item.Id })" />
                        }
                        <h3>
                            @Html.DisplayFor(i => item.Text)
                        </h3>
                        <br />

                        @Html.ActionLink("Details", "Details", "Question", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Edit", "Edit", "Question", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", "Delete", "Question", new { id = item.Id }, new { @class = "btn btn-default" })
                    </div>
                </div>
                }
            </div>
        }
        else
        {
            <h3>Test hasn't any questions.</h3>
            @Html.ActionLink("Create question", "Create", "Question", new { testId = Model.Id }, new { @class = "btn btn-default" })
        }

    </div>

</div>
