@model WebApplication.Models.Statistic.StatisticViewModel

<div class="test_results">
    <h2>@ViewBag.Message</h2>
    <h4>
        You passed the test in @Html.DisplayFor(m => @Model.Time) and scored @Html.DisplayFor(m => @Model.Percentage)%!
    </h4>
    <br />
    @Html.ActionLink("Another tests", "Index", "Test", null, new { @class = "btn btn-success btn-lg" })
</div>