@model WebApplication.Models.Test.PreviewTestViewModel

<div class="test_preview">
    <h1>@Html.DisplayFor(model => model.Name)</h1>

    <h3>@Html.DisplayFor(model => model.Description)</h3>

    <div class="test_preview__desc">
        <h4>
            @Html.DisplayNameFor(model => model.MinPercentage) -
            @Html.DisplayFor(model => model.MinPercentage)%
        </h4>

        <h4>
            @Html.DisplayNameFor(model => model.QuestionQuantity) -
            @Html.DisplayFor(model => model.QuestionQuantity)
        </h4>

        <h4>
            @Html.DisplayNameFor(model => model.UsersQuantity) -
            @Html.DisplayFor(model => model.UsersQuantity)
        </h4>

        <h4>
            @Html.DisplayNameFor(model => model.AveragePercentage) -
            @Html.DisplayFor(model => model.AveragePercentage)%
        </h4>
    </div>

    @if (User.IsInRole("user"))
    {
        @Html.ActionLink("Pass test!", "PassTest", "Test", new { id = Model.Id }, new { @class = "button test_preview__btn" })
        <br /><br />
        @ViewBag.Message
    }
    
    
</div>

